.root {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f0f0f0;
  color: #000;
}

.container {
  padding: 24px 0;
  margin: 0 auto;
  max-width: 90%;
  padding-top: 108px;
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
}

.titleContainer {
  display: flex;
  flex-direction: column-reverse;
}

.select {
  margin-bottom: 1rem;
}

.title {
  font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.hr {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 16px;
}

.hiddenDivider {
  visibility: hidden;
  margin-bottom: 0;
}

/*
 *
 * Ordinarily we wouldn't want to have a media query with max-width,
 * but in this case it was the only way to make sure the default width
 * for the component was applied in all other cases except this screen
 * width.
 *
 */

@media (max-width: 480px) {
  .select {
    width: 100%;
  }
}

@media (min-width: 601px) {
  .titleContainer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    margin-bottom: 0;
  }

  .select {
    margin-bottom: 0.5rem;
  }
}
