.root {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #f0f0f0;
}

.container {
  padding: 24px 0;
  margin: 0 auto;
  max-width: 90%;
  padding-top: 108px;
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
}

.title {
  font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.hr {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 32px;
}
