.root {
  display: grid;
  margin: 0 auto;
  row-gap: 16px;
}

.card {
  justify-self: center;
}

@media (min-width: 769px) {
  .root {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }
}

@media (min-width: 1201px) {
  .root {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
