.root {
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
  padding: 24px;
  margin: 0 auto;
  width: 80%;
  background-color: #f0f0f0;
}

.header {
  font-size: 1.25rem;
  margin-top: 0;
}

.fieldset {
  border: none;
  padding: 4px 0;
  display: grid;
  margin-bottom: 12px;
}

.fieldset:first-of-type {
  margin-top: 8px;
}

.fieldset:last-of-type {
  margin-bottom: 16px;
}

.label {
  margin-top: 6px;
  margin-bottom: 6px;
}

.label:first-of-type {
  margin-top: 0;
}

.input {
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #e0e0e0;
  padding: 8px;
  border-radius: 3px;
  line-height: 1.25;
}

.submit {
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  cursor: pointer;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border: 1px solid var(--button-border-color);
  border-radius: 3px;
  padding: 8px 16px;
}

.submit:hover {
  background-color: var(--button-hover-color);
}

@media (min-width: 481px) {
  .root {
    padding: 32px;
  }
}

@media (min-width: 601px) {
  .root {
    width: 70%;
  }
}

@media (min-width: 769px) {
  .root {
    width: 60%;
  }
}

@media (min-width: 1025px) {
  .root {
    width: 50%;
  }
}

@media (min-width: 1201px) {
  .root {
    width: 40%;
  }
}

@media (min-width: 1405px) {
  .root {
    width: calc(0.3 * 1405px);
  }
}
