.root {
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
  color: #5f5f5f;
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}

.root:hover, .root:focus {
  background-color: #f5f5f5;
}

.root:last-of-type {
  border-bottom: none;
}

@media (min-width: 769px) {
  .root {
    font-size: 1.025rem;
  }
}