.root {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  display: grid;
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
}

.container {
  display: grid;
  margin: auto;
}

.link {
  margin: auto;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.link:hover {
  color: #fff;
  text-decoration: underline;
}

@media (min-width: 1025px) {
  .link {
    font-size: 1.1rem;
  }
}
