.root {
  font-family: 'Quattrocento Sans', Arial, Helvetica, sans-serif;
  background-color: var(--main-color);
  border-bottom: none;
}

.root.expanded {
  border-bottom: 1px solid var(--border-color);
}

.root:hover {
  background-color: var(--hover-color);
}

.trigger {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  display: grid;
  grid-template-columns: 60% 40%;
}

.quantity {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 1rem;
  margin: 16px 12px;
  text-align: center;
  align-self: center;
  overflow-wrap: break-word;
}

.descriptionContainer {
  border-right: 1px solid var(--border-color);
}

.description {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 1rem;
  margin: 16px 12px;
  line-height: 1.25;
}

.details {
  background-color: var(--body-background-color);
  color: var(--body-text-color);
  border-bottom: var(--border-color);
  padding: 16px;
}

.label {
  margin: 0;
}

.value {
  margin-top: 8px;
  margin-bottom: 8px;
  line-height: 1.25;
}

@media (min-width: 769px) {
  .trigger {
    grid-template-columns: 70% 30%;
  }
}
