name: Skyrim Inventory Management Frontend CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-node@v4
      with:
        node-version: "23.0.0"
    - name: Install Node Modules
      run: yarn
    - name: lint
      run: yarn lint
    - name: format
      run: yarn format
    - name: build storybook
      run: yarn build-storybook\
    - name: Run Chromatic visual tests
      uses: chromaui/action@latest
      env:
        CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
    - name: Run tests
      run: yarn test
